<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista de Proyectos</title>
</head>
<body>
    <h1>Lista de Proyectos</h1>
    <table>
        <tr>
            <th>Código</th>
            <th>Nombre</th>
            <th>Descripción</th>
        </tr>
        <tr th:each="proyecto : ${proyectos}">
            <td th:text="${proyecto.codigo}"></td>
            <td th:text="${proyecto.nombre}"></td>
            <td th:text="${proyecto.descripcion}"></td>
        </tr>
    </table>
</body>
</html>